<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	strict="true"
	verbose="true"
	bootstrap="vendor/autoload.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="DispatcherTest">
			<file>tests/DispatcherTest.php</file>
			<file>tests/InstanceFactoryTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>